.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px 60px 40px;
    overflow: hidden;
}

.carousel-item {
    text-align: center;
    width: 240px;
}

.carousel-item img {
    width: 227px;
    height: 227px;
    display: block;
    object-fit: cover;
}

.carousel-item .handle {
    display: block;
    text-align: start;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-top: 8px;
    width: 227px;
}

.handle .at-symbol {
    color: #ff6c84;
}