.accordion {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-top: 30px;
}

.accordion-item {
    border-bottom: 1px solid #eee;
}
.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

.icon {
    position: relative;
    width: 14px;
    height: 14px;
}

.icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(-50%);
    transition: opacity 0.3s;
}

.icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: black;
    transform: translateX(-50%);
    transition: opacity 0.3s;
}

.accordion-item.active .icon::after {
    opacity: 0;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content p {
    padding-bottom: 15px;
    font-size: 14px;
    margin-top: 0;
    color: #555;
    line-height: 1.5;
}

.accordion-item.active .accordion-content {
    max-height: 500px;
    padding-top: 10px;
}

.step-item {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.4;
}

.step-item:last-child {
    margin-bottom: 0;
}

.ingredients-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
}

.ingredient-item {
    width: 48%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.icon-wrapper {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.icon-wrapper img {
    width: 100%;
    height: 100%;
}

.text-content {
    flex-grow: 1;
}

.title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.subtitle {
    font-size: 14px;
    color: #555;
}

.full-ingredients-text{
    font-size: 14px;
    padding: 0 20px 15px;
    color: #555;
}

@media (max-width: 768px){
    .icon-wrapper {
        width: 32px;
        height: 32px;
    }

    .accordion-item{
        width: 100%;
    }

    .accordion-header {
        font-size: 14px;
        width: 100%;
    }

    .accordion-content p {
        font-size: 14px;
        height: 100%;
    }

    .ingredients-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }

    .ingredient-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-wrapper {
        width: 27px;
        height: 27px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 13px;
    }

    .full-ingredients-text{
        padding-left: 0;
    }
}

@media (max-width: 320px){
    .accordion-item{
        width: 90%;
    }

    .accordion-header {
        font-size: 14px;
        width: 100%;
    }

    .accordion-content p {
        font-size: 14px;
        height: 100%;
    }

    .ingredients-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }

    .ingredient-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-wrapper {
        width: 27px;
        height: 27px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 13px;
    }

    .full-ingredients-text{
        padding-left: 0;
    }
}

@media (max-width: 320px){
    .accordion-item{
        width: 90%;
    }

    .accordion-header {
        font-size: 14px;
        width: 100%;
    }

    .accordion-content p {
        font-size: 14px;
        height: 100%;
    }

    .ingredients-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }

    .ingredient-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-wrapper {
        width: 27px;
        height: 27px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 13px;
    }

    .full-ingredients-text{
        padding-left: 0;
    }
}