.rating-row{
    display: flex;
    flex-direction: row;
    color: #ff6c84;
    font-size: 16px;
}

.review-text{
    color: black;
    text-decoration: underline;
    margin-left: 8px;
}

.logo-text{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.old-price{
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 23px;
}

.new-price{
    font-size: 23px;
    font-weight: bold;
    color: #ff6c84;
}

.price button{
    background: #ff6c84;
    border-radius: 6px;
    height: 25px;
    width: 120px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
    margin-inline-start: 16px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.title-text{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.icon-list li {
    padding: 10px 0 0 36px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 0 50%;
    line-height: 1.5;
}

.calendar{
    background-image: url("/assets/calendar.png");
}

.eye{
    background-image: url("/assets/eye.png");
}

.oil{
    background-image: url("/assets/oil.png");
}

.bunny{
    background-image: url("/assets/bunny.png");
}

.text-status{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4fbb4e;
    margin-bottom: 10px;
}

.status-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4fbb4e;
    margin-right: 8px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(108, 191, 77, 0.6);
    }
    70% {
        box-shadow: 0 0 0 4px rgba(108, 191, 77, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(108, 191, 77, 0);
    }
}

.cart{
    background: black;
    color: white;
    height: 52px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.order{
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.order-date{
    color: #ff6c84;
    font-weight: 600;
}

.order img {
    vertical-align: middle;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}