.dad_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px 60px 40px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.faq {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-radius: 15px;
}
.faq-p{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 30px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 24px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #cec9c9;
}

.faq-item:last-child .faq-header {
    border-bottom: none;
}

.icon {
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: translateY(-50%);
}

.icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: black;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.faq-item.active .icon::after {
    transform: rotate(90deg) translateX(-50%);
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-content p {
    padding-bottom: 15px;
    font-size: 16px;
    margin-top: 0;
    line-height: 1.6;
}

.faq-item.active .faq-content {
    max-height: 500px;
    padding-top: 10px;
}

.note-disclaimer {
    margin-top: 20px;
    font-size: 16px;
}

.note-disclaimer a{
    color: black;
}

@media (max-width: 1024px){
    .dad_faq{
        justify-content: flex-start;
        padding: 40px;
    }

    .faq {
        width: 100%;
    }
}

@media (max-width: 768px){
    .dad_faq{
        padding: 40px;
    }

    .faq {
        width: auto;
        height: auto;
        border-radius: 15px;
    }

    .icon {
        width: 12px;
        height: 12px;
    }

    .faq-p{
        font-size: 38px;
    }

    .faq-header{
        align-items: center;
        padding-left: 18px;
        font-size: 16px;
    }

    .faq-content p{
        font-size: 15px;
        width: 90%;
    }
}

@media (max-width: 425px){
    .dad_faq{
        padding: 24px;
    }

    .faq {
        width: auto;
        height: auto;
        border-radius: 15px;
    }

    .icon {
        width: 12px;
        height: 12px;
    }

    .faq-p{
        font-size: 27px;
    }

    .faq-header{
        width: 100%;
        padding-left: 18px;
        font-size: 15px;
    }

    .faq-content p{
        font-size: 15px;
        width: 90%;
    }
}

@media (max-width: 375px){
    .dad_faq{
        padding: 24px;
    }

    .faq {
        width: auto;
        height: auto;
        border-radius: 15px;
    }

    .icon {
        width: 12px;
        height: 12px;
    }

    .faq-p{
        font-size: 27px;
    }

    .faq-header{
        width: 100%;
        padding-left: 18px;
        font-size: 15px;
    }

    .faq-content p{
        font-size: 15px;
        width: 90%;
    }
}

@media (max-width: 320px){
    .dad_faq{
        padding: 24px;
    }

    .faq {
        width: auto;
        height: auto;
        border-radius: 15px;
    }

    .icon {
        width: 12px;
        height: 12px;
    }

    .faq-p{
        font-size: 27px;
    }

    .faq-header{
        width: 90%;
        padding-left: 18px;
        font-size: 15px;
    }

    .faq-content p{
        font-size: 15px;
        width: 90%;
    }
}