footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 72px 50px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #f8f8f8;
}

.footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-footer-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img-footer-logo{
    width: 200px;
    height: 30px;
}

.footer-links {
    font-size: 14px;
    text-decoration: none;
    color: #333333;

}

.footer-links:first-child {
    font-weight: bold;
    color: #000000;
}


@media (max-width: 1024px) {
    footer{
        margin-bottom: 50px;
    }

    .info-footer {
        height: auto;
        gap: 30px;
        padding-bottom: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }


}

@media (max-width: 768px) {
    footer {
        width: 100%;
        padding: 48px;
        margin: 0;
        margin-bottom: 50px;
    }

    .footer-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .info-footer-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .img-footer-logo{
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    footer {
        width: 100%;
        padding: 48px 0;
        margin-bottom: 50px;
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 90%;
    }

    .img-footer-logo{
        margin-bottom: 30px;
    }
}