footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 72px 0 50px;
    margin-bottom: 70px;
    overflow: hidden;
    background-color: #222222;
}

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
}

.title-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px 40px;
}

.title-footer h2{
    font-size: 26px;
    color: white;
    margin-bottom: 22px;
}

.title-footer p{
    font-size: 14px;
    color: white;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 600px;
    max-width: 100%;
    margin-top: 20px;
}

.subscribe-form input {
    flex-grow: 1;
    height: 44px;
    padding: 0 15px;
    font-size: 16px;
    color: #333;
    outline: none;
    border-radius: 5px;

    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.coupon-btn {
    flex-shrink: 0;
    height: 44px;
    padding: 0 20px;
    background-color: #ff6c84;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.coupon-btn:hover {
    background-color: #e55a73;
}

.info-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 235px;
    color: white;
}

.info-column-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #ccc;
}

.info-column-footer img{
    display: block;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
}

.info-column-footer h3{
    font-size: 18px;
    margin: 0 0 20px;
}

.info-column-footer a{
    text-decoration: none;
    color: white;
    padding: 6px 0 0;
}

.info-column-footer a:nth-of-type(1){
    padding-top: 0;
}

.social-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    overflow: hidden;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background: none;
    border: 1px solid #868282;
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-link:first-child {
    padding-top: 6px !important;
}

.social-link img {
    width: 25px;
    height: 25px;
    display: block;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.social-link:hover {
    background-color: #fff;
}

.social-link:hover img {
    transform: none;
}