header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    padding: 0;
    background: #ffe0e6;
    position: fixed;
    top: 0;
    z-index: 10;
}

.top-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    gap: 15px;
}

.span_header{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.countdown {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}

.timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff6c84;
    padding: 2px 5px;
    border-radius: 4px;
    max-width: 32px;
}

.timer-box span {
    line-height: 1.1;
}

.timer-box #cd-hours,
.timer-box #cd-minutes,
.timer-box #cd-seconds {
    font-size: 16px;
    font-weight: bold;
}

.cd-label {
    font-size: 8px;
    text-transform: uppercase;
}

.cd-separator {
    color: #ff6c84;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 52px;
}

.header-nav-button.desktop-view {
    background: #ff6c84;
    border-radius: 4px;
    height: 38px;
    width: 88px;
    margin-right: 30px;
    border: none;
    color: #fff;
    font-weight: bold;
}

.header-nav-img.mobile-view{
    display: none;
}

.login{
    width: auto;
}

.login img{
    height: 32px;
    width: 32px;
}

.header-logo {
    max-width: 200px;
}

.banner-info {
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ff6c84;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 20px;
}

.item {
    font-size: 16px;
}

.banner-info img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

@media (max-width: 1440px){
    .span-header-banner.mobile-view{
        display: none;
    }
}

@media (max-width: 768px) {
    .header-nav-button.desktop-view {
        display: none;
    }

    .header-nav-img.mobile-view{
        display: block;
    }

    .login-img{
        margin-right: 10px;
    }

    .login-img:last-child{
        margin-right: 0;
    }

    .span-header-banner.desktop-view{
        display: none;
    }

    .item {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .header-logo {
        max-width: 140px;
    }

    .span_header{
        font-size: 14px;
    }

    .countdown{
        width: 30%;
    }

    .cd-separator{
        margin: 0;
        width: auto;
    }

    .header-nav {
        width: auto;
    }

    .login{
        display: flex;
        flex-direction: row;
    }

    .login-img.mobile-view{
        display: none;
    }

    .header-nav-img.mobile-view{
        display: flex;
        height: 30px;
        width: 26px;
    }

    .header-nav-button.desktop-view {
        display: none;
    }

    .banner-info img{
        height: 30px;
        width: 30px;
    }

    .banner-info span{
        font-size: 28px;
    }

    .span-header-banner.desktop-view {
        display: none;
    }

    .span-header-banner.mobile-view {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 16px;
    }

    .item {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .header-logo {
        max-width: 100px;
    }

    .span_header{
        font-size: 11px;
    }

    .countdown{
        width: 30%;
    }

    .cd-separator{
        margin: 0;
        width: auto;
    }

    .header-nav {
        width: auto;
    }

    .login{
        display: flex;
        flex-direction: row;
    }

    .login-img.mobile-view{
        display: none;
    }

    .header-nav-img.mobile-view{
        display: flex;
        height: 30px;
        width: 26px;
    }

    .header-nav-button.desktop-view {
        display: none;
    }

    .banner-info img{
        height: 30px;
        width: 30px;
    }

    .banner-info span{
        font-size: 28px;
    }

    .span-header-banner.desktop-view {
        display: none;
    }

    .span-header-banner.mobile-view {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 13px;
    }

    .item {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .header-logo {
        max-width: 120px;
    }

    .span_header{
        font-size: 11px;
    }

    .countdown{
        width: 30%;
    }

    .cd-separator{
        margin: 0;
        width: auto;
    }

    .header-nav {
        width: auto;
    }

    .login{
        display: flex;
        flex-direction: row;
    }

    .login-img.mobile-view{
        display: none;
    }

    .header-nav-img.mobile-view{
        display: flex;
        height: 30px;
        width: 26px;
    }

    .header-nav-button.desktop-view {
        display: none;
    }

    .banner-info img{
        height: 30px;
        width: 30px;
    }

    .banner-info span{
        font-size: 28px;
    }

    .span-header-banner.desktop-view {
        display: none;
    }

    .span-header-banner.mobile-view {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        font-size: 13px;
    }

    .item {
        font-size: 14px;
    }
}