*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body.no-scroll,
html.no-scroll {
    overflow: hidden !important;
    height: 100vh !important;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}