.dad_information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 60px 40px 0;
    overflow: hidden;
}

.information{
    display: flex;
    flex-direction: row;
    width: 65%;
}

.left-advice{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 70px 0 0;
    border-right: 1px solid #efefef;
}

.left-advice h2{
    font-size: 40px;
    margin-bottom: 33.2px;
}

.left-advice p{
    font-size: 15px;
    margin: 15px 0;
}

.left-advice a{
    font-size: 14px;
    margin-bottom: 33.2px;
    color: #ff6c84;
}

.title-info {
    font-size: 15px;
    color: #666666;
}

.subtitle-info {
    font-size: 23px;
    font-weight: bold;
    color: #000000;
}

.rigth-advice{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 70px;
}

.info-advice{
    display: flex;
    flex-direction: row;
}

.info-advice img{
    height: 90px;
    width: 90px;
}

.info-advice .text{
    padding: 0 0 0 20px;
}