main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px 0;
    gap: 5%;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: sticky;
    top: 60px;
}

.right-side{
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-shrink: 0;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.main-text h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.main-text p{
    font-size: 24px;
}

.rating-text{
    color: #ff6c84;
    font-size: 20px;
}

@media (max-width: 1024px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 40px;
        gap: 5%;
    }

    .left-side{
        display: flex;
        flex-direction: column;
        width: 50%;
        position: sticky;
        top: 60px;
    }

    .right-side{
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-shrink: 0;
    }

    .main-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 40px;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .main-text h1{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .main-text p{
        font-size: 24px;
    }

    .rating-text{
        color: #ff6c84;
        font-size: 20px;
    }
}

@media (max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
        padding: 20px 40px 40px;
    }

    .left-side{
        display: flex;
        width: 100%;
        position: static;
    }

    .right-side{
        display: flex;
        width: 100%;
    }

    .rating-text{
        font-size: 16px;
        text-align: center;
    }

    .main-text{
        padding: 35px 24px;
        margin-bottom: 0;
    }

    .main-text h2{
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }

    .main-text p{
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 425px){
    main{
        display: flex;
        flex-direction: column;
        padding: 20px 16px 35px;
    }

    .left-side{
        display: flex;
        width: 100%;
        position: static;
    }

    .right-side{
        display: flex;
        width: 100%;
    }

    .rating-text{
        font-size: 16px;
        text-align: center;
    }

    .main-text{
        padding: 35px 24px;
        margin-bottom: 0;
    }

    .main-text h2{
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 375px){
    main{
        display: flex;
        flex-direction: column;
        padding: 20px 16px 35px;
    }

    .left-side{
        display: flex;
        width: 100%;
        position: static;
    }

    .right-side{
        display: flex;
        width: 100%;
    }

    .rating-text{
        font-size: 16px;
        text-align: center;
    }

    .main-text{
        padding: 35px 24px;
        margin-bottom: 0;
    }

    .main-text h2{
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 320px){
    main{
        display: flex;
        flex-direction: column;
        padding: 20px 16px 35px;
    }

    .left-side{
        display: flex;
        width: 100%;
        position: static;
    }

    .right-side{
        display: flex;
        width: 100%;
    }

    .rating-text{
        font-size: 16px;
        text-align: center;
    }

    .main-text{
        padding: 35px 24px;
        margin-bottom: 0;
    }

    .main-text h2{
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    .main-text p{
        font-size: 18px;
        text-align: center;
    }
}