.redefining{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 40px 60px;
    background: #ff6d84;
}

.redefining-logo{
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.redefining-more{
    text-align: center;
    padding: 30px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.product-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.redefining-items{
    padding-left: 15px;
    padding-right: 15px;
}

.product-img img{
    height: 185px;
    width: 185px;
}