.dad_reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px 0 40px;
    overflow: hidden;
}

.reviews {
    width: 65%;
}
.reviews-name{
    display: flex;
    font-size: 24px;
    margin: 0 0 30px 0;
}

.reviews-summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 25px 0;
}

.reviews-summary strong{
    font-size: 37px;
    margin-right: 10px;
}

.reviews-summary p{
    font-size: 15px;
    color: black;
    margin-left: 10px;
}

.rating-reviews {
    background: #fafafa;
    height: 100px;
}

.rating-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-left: 20px;
}

.rating-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40px;
}

.rating-item strong {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.2;
    text-align: left;
}

.rating-scale {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 270px;
    height: 9px;
    overflow: hidden;
}

.scale-segment {
    flex-grow: 1;
    height: 100%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.scale-segment:last-child {
    border-right: none;
}

.scale-segment.active {
    position: relative;
}

.scale-segment.active:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 12px;
    height: 22px;
    background: #555;
    border: 1px solid #ccc;
    border-radius: 2px;
    z-index: 2;
}

.button-reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    margin: 20px 0 20px 0;
}
.write-review-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 18px;
    border: 1px solid #ccd6e0;
    border-radius: 3px;
    background-color: white;

    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    box-shadow: 2px 3px 5px 0 #8888886b;
    transition: box-shadow 0.2s, background 0.2s;
}

.write-review-btn:hover {
    box-shadow: none;
    background-color: #fcfcfc;
}

.write-review-btn .icon-pencil {
    color: #ff6c84;
    font-size: 18px;
    margin-right: 8px;
}

.write-review-btn .text{
    font-size: 13px;
}

.tab-reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40px;
    list-style-type: none;
    border-bottom: none;
    padding: 0;
}

.tab-content-wrapper {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: flex-start;
    height: 100%;
    border-bottom: 1px solid #ccc;
}

.tab-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #333;
    padding: 0 10px 5px 0;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.tab-item.active {
    color: #ff6c84;
}

.tab-item.active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: #ff6c84;
    z-index: 2;
}

.tab-label{
    font-weight: 700;
}

.tab-count {
    font-weight: 700;
    margin-left: 5px;
    background: #f8f9fa;
    padding: 2px 5px;
}